<div class="my-general-dynamic-container">

<br>
<h2 id="h2-home">Vos animaux favoris</h2>


<br>

<% if @animals.count == 0 %>
  <h3 id="h3-home">Aucun favoris 😢</h3>

<% else %>
  <%= render 'shared/card' , animals: @animals%>
<% end %>


<br>
<%= link_to 'Retour', root_path, class: "btn btn-outline-secondary" %>



</div>
